.tipFormat {
padding: 2px 6px;
color: #333;
background-color: #FFFFCD;
border: 1px solid #DBDBDB;
left: 300px;
top: 0;
width: 178px;
}
.a {
padding: 2px 6px;
color: #333;
background-color: #FFFFCD;
border: 1px solid #DBDBDB;
left: 300px;
top: 0;
width: 178px;
}
.b {
padding: 2px 6px;
color: #333;
background-color: #FFFFCD;
border: 1px solid #DBDBDB;
left: 300px;
top: 0;
width: 178px;
}