a
{
	text-decoration: none;
	color: #336699;
}
.container
{
	height: 42px;
	width: 970px;
	margin: auto;
}
.pagebody
{
	height: 580px;
	width: 970px;
	margin: auto;
	font-family: Î¢ÈíÑÅºÚ;
}
.content_left
{
	width: 500px;
	height: 500px;
	float: left;
	margin-left: 50px;
}
.head
{
	 width: 100%;  
	 height: 42px;
	 background:url("image/headbg.png") repeat-x;
	 left:0;
	 top:0;
	 padding:0px;
}
.kaixin
{
	float:left;
	margin-top:5px;
}
.head_font_right
{
	height: 10px;
	width: 15px;
}
.head_font_right_settings
{
	font-size: 14px;
	color: #FAD9DB;
	font-family: Î¢ÈíÑÅºÚ;
}
.title_black
{
	height: 40px;
	width: 400px;
	float: left;
	margin-left: 40px;
	margin-top: 80px;
}
.title_black_font
{
	font-size: 24px;
	float: left;
	color: black;
	display: inline-block;
}
.reg_txt
{
	width: 75px;
	float: left;
	font-size: 13px;
}
.inputbutton
{
	width: 240px;
	height: 15px;
}
.content_right
{
	width: 360px;
	height: 500px;
	float: left;
}
.content_right_top
{
	height: 180px;
	width: 360px;
	border: 1px solid #EEEEEE;
	background-color: #FDFDFD;
	margin-top: 80px;
	float: left;
}
.content_right_below
{
	height: 220px;
	width: 360px;
	border: 1px solid #EEEEEE;
	background-color: #FDFDFD;
	float: left;
}
.black_font
{
	width: 335px;
	float: left;
	height: 70px;
	margin-left: 15px;
}
.content_right_gray
{
	width: 300px;
	float: left;
	height: 25px;
	margin-left: 15px;
}
div#header
{
	height: 42px;
}
.otherlogo
{
	height: 70px;
	width: 80px;
	float: left;
}
div#footer
{
	height: 28px;
	width: 970px;
	text-align: center;
	margin: auto;
	padding-top:10px;
	border-top: 1px solid rgb(153, 153, 153);
}
.footer_right
{
	float: right;
	width: 80px;
	height: 28px;
	color: rgb(153, 153, 153);
}
.footer_left
{
	float: left;
	color: #336699;
}
.footer_left a:hover
{
	text-decoration:underline;
}
.logo
{
	float: left;
}
.head_right
{
	height: 50px;
	float: right;
	top: 20px;
}
.happy
{
	height: 200px;
	width: 335px;
	float: left;
	margin-left: 15px;
}

.footer_footer
{
	width: 970px;
	background-color: #f0efef;
	height: 20px;
	margin: auto;
	margin-top: 5px;
}
.footer_content
{
	width:900px;
	height:20px;
	background-color:#f0efef;
	margin:auto;
	color:rgb(153, 153, 153);
	font-family:Î¢ÈíÑÅºÚ;
	font-size:12px;
}
.footer_footer1
{
	width:300px;
	height:20px;
	float:left;
}
.footer_footer2
{
	width:100px;
	height:20px;
	float:left;
}
.footer_footer3
{
	width:125px;
	height:20px;
	float:left;
}
.footer_footer4
{
	width:140px;
	height:20px;
	float:left;

}
.footer_footer5
{
	width:90px;
	height:20px;
	float:left;
}
.footer_point
{
	width:3px;
	height:20px;
	float:left;
	margin-left:15px;
	margin-right:15px;
}
.footer_content a
{
	color:rgb(153, 153, 153);
}
ul
{
	margin: 0;
}
li
{
	list-style: none;
	width: 100%;
	height: 40px;
	float: left;
}
.li_mail
{
	height: 50px;
}